# Модель из Homework 3
h3model.h5

# Модель из Homework 3, использующаяся в Homework 4
homework3_model.h5

# Папки с dataset-ами
*dataset/
Homework3/touhou_tests/flandre_scarlet/6.jpg
Homework3/touhou_tests/flandre_scarlet/7.jpg
Homework3/touhou_tests/flandre_scarlet/8.jpg
Homework3/touhou_tests/flandre_scarlet/9.jpg
Homework3/touhou_tests/flandre_scarlet/10.jpg

# Jupyter Checkpoints
.ipynb_checkpoints/
Homework5/ResNet50V2_23.h5
Homework5/ResNet50V2_23_labels
Homework5/ResNet50V2_24.h5
Homework5/ResNet50V2_24_labels
Homework8/Тема_8_Генеративно_состязательная_сеть_(GAN)_Часть_2.ipynb
Homework8/Тема_8_Генеративно_состязательная_сеть_(GAN)_Часть_1.ipynb
Homework8/cifar_10_generate.png
Homework8/epoch_*.png
Homework8/output.png
Homework8/photo_2023-05-24 17.49.29.jpeg
Homework8/plot_*.png